/* @media only screen and (max-width: 375px) {
    body {
        font-size: 16px;
    }
    header{
        flex-direction: column;
        align-items: center;
    }
    .logocros {
        order: 1;
    }
    .nav-items {
        order: 2;
        margin-top: 10px;
    }
    main {
        padding: 10px;
    }
    .glav {
        padding-top: 15px;
    }
    .cards {
        flex-direction: column;
        margin: o;
        flex-wrap: nowrap;
        overflow: auto;
    }
    .container {
        width: 100%;
        margin-right: 0;
    }
    .nav-items {
        flex-direction: column;
        text-align: center;
    }
    .nav-item {
        margin-right: 0;
    }
    .verx {
        order: 1;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
    h2 {
        font-size: 32px;
    }
    p {
        font-size: 20px;
    }
    h3 {
        font-size: 26px;
    }
} */