@media screen and (max-width: 376px) {

    h2 {
        font-size: 32px;
    }

    /* адаптация хедера */

    header {
        padding: 0px 16px;
        height: auto;
    }

    .container1 {
        flex-direction: column;
        padding: 24px 0px;
        gap: 24px;
    }

    /* адаптация мейна */

    .main {
        padding: 0 16px;
    }

    .main_content_cros {
        max-width: 343px;
    }

    .container {
        width: 343px;
    }

    .imgcr  {
        width: 343px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 343px;
    }

    .crosct {
        max-width: 343px;
    }
    /* адаптация футера */

    footer {
        height: auto;
    }

    .footer_container {
        padding: 32px 0px 24px 0px;
        height: auto;
    }

    .verx {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        align-self: stretch;
        padding-bottom: 24px;
        width: 343px;
    }

    .niz {
        flex-direction: column;
        padding-top: 24px;
        width: 343px;
    }

}