  * {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-family: Anonymous Pro;
    font-weight: 400;
    font-size: 48px;
  }

  h2 {
    font-family: Anonymous Pro;
    font-weight: 400;
    font-size: 36px;
  }

  p {
    font-family: Anonymous Pro;
  }

  main {
    background-color: #E6E8EC66;
  }

  header {
    border-bottom: 1px solid gray;
    height: 110px;
  }

  .container1 {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    height: 100%;
    max-width: 1140px;
  }

  .nav-items {
    display: flex;
    list-style: none;
  }

  .nav-item {
    text-decoration: none;
    font-family: Anonymous Pro;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-right: 24px;
  }
  
  main{
    display: flex;
    padding: 0px 150px;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    align-self: stretch;
  }

  .main_content {
    padding-top: 32px;
    padding-bottom: 32px;
    flex-direction: row;
    width: 1140px;
    margin: 0 auto;
  }

  .bigcros{
    background-color: #FFF;
    width: 1044px;
    display: flex;
    padding: 48px;
    flex-direction: column;
    border-radius: 50px;
  }

  /* .crosname {} */

  .block1 {
    color: var(--black);
    margin-bottom: 24px;
  }
  

  /* .block2 {

  } */

  .crosinform {
    display: flex;
    max-width: 1044px;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 24px;
    width: 100%;
    height: auto;

  }

  .text {
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  .block3 {
    width: 50%;
  }

  .block4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    margin-left: 32px;
  }


  .date-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .material {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .h2_1 {
    font-size: 30px;
    padding-bottom: 20px;
  }


  .item2 {
    color: #FFF;
  }

  .item3 {
    margin-right: 0;
  }

  footer {
    background: #000;
    height: 142px;

  }

  .verx {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    height: 50%;
    max-width: 1140px;
  }

  .niz {
    border-top: 1px solid gray;
    margin: 0 auto;
    max-width: 1140px;
    padding-top: 18px;
    text-align: center;
    color: #A1A6B4;
    font-family: "Anonymous Pro", sans-serif;
  }